@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
    font-family: 'Merriweather', serif;
    background-color: white;
    color: darkslategray;
    text-align: center;
}

.input-area {
    margin-top: 50px;
}

.values-area {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-evenly;
}

.rent-area, .credit-area, .equity-area {
    display: flex;
    flex-direction: column;
}

.btn-check {
    padding: 10px 30px;
    font-size: 20px;
}

/*
.hide {
    display: none;
}
*/