@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
    font-family: 'Merriweather', serif;
    background-color: white;
    color: darkslategray;
    text-align: center;
    margin: 0;
    padding: 0;
}

.home_background {
    background: url(../images/home_background.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    vertical-align: middle;
    width: 100%;
    height: auto;
    background-position: 50% 50%;
}

h1 {
    margin: 0;
    background-color: #00000073;
    color: #84b1e2;
}

.input-area {
    margin-top: 50px;
    padding: 20px;
    background-color: #00000073;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.input_area_background {
    background-color: #00000073;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.values-area {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-evenly;
    color: #84b1e2;
}

.rent-area, .credit-area, .equity-area {
    display: flex;
    flex-direction: column;
}

.text-input {
    border-radius: 5px;
    text-align: center;
}

button {
    padding: 10px 33px;
    font-size: 20px;
    color: white;
    background-color: #84b1e2;
    border-color: #84b1e2;
    border-radius: 5px;
}

.output-area {
    background-color: #00000073;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    color: #84b1e2;
}

.message-area, .hide {
    display: none;
}

.message-text {
    font-family: 'Merriweather', serif;
}

#contact {
    background-color: #00000073;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    color: #84b1e2;
}

textarea {
    width: 70%;
    height: 150px;
  }

/* --------------------------------------------> media queries */

@media only screen and (max-width: 900px){
    .values-area {
        flex-direction: column;
        justify-content: center;
        align-self: center;
        align-items: center;
        margin: 30px auto;
    }

    .input-area {
        width: 70%;
    }

    .text-input {
        margin-bottom: 10px;
    }

    button {
        margin-top: 20px;
    }
}
